/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.DS_Store
config-server/.mvn/
config-server/mvnw
config-server/mvnw.cmd
config-server/target/
getway/.mvn/
getway/mvnw
getway/mvnw.cmd
getway/target/

*.cmd
/getway/mvnw
/getway/mvnw.cmd
/getway/target/
/getway/getway.iml
/.gitignore
/getway/.mvn/
